.maj-avatar-container {
    padding: 1rem;
    background: #edf;
    border-radius: 50%;
    min-width: 25px;
    max-width: 25px;
    min-height: 25px;
    max-height: 25px;
    .maj-avatar {
        .maj-avatar-initial {

        }

        .maj-avatar-icon {

        }
    }
}