@import "../../assets/styles/variables/variables.scss";

.maj-avatar-container {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    border: 10px solid $primary-border-color;

    .maj-avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;

        .maj-avatar-initial {}

        .maj-avatar-icon {
            height: 50px;
            width: 50px;
        }
    }
}