@import "../../assets/styles/variables/variables.scss";

.maj-autocomplete-wrapper {
  position: relative;
  font-family: inherit;

  input {
    position: relative;
    padding: 0.5rem;
    font-family: inherit;

    &:focus-within {
      border-color: $primary-border-color;
    }

    datalist {
      font-family: inherit;

      option {
        font-family: inherit;
      }
    }
  }

}