.maj-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 4px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.maj-btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}