.radio-group-wrapper {
    display: flex;
    gap: 0.5rem;

    div {
        display: inherit;
        gap: 0.25rem;
        justify-content: center;

        input {
            font-size: 1rem;
        }
    }
}

.horizontal-group {
    flex-direction: row;
}

.vertical-group {
    flex-direction: column;
}