@mixin align-items $alignItems: center {
    display: flex;
    align-items: $alignItems;
}

@mixin align-items $justifyContent: center {
    display: flex;
    align-items: $justifyContent;
}

@mixin align-items $flexDirection: column {
    display: flex;
    flex-direction: $flexDirection;
}