$maj-link-default-color: #1A0DAB;
$maj-link-hover-color: #A5D2EE;
$maj-link-visited-color: #681DA8;
$maj-link-focus-color: #FFC40C;
$maj-link-focus-within-color: #FFC40C;
$maj-link-active-color: #FFC40C;
$maj-link-focus-visible-color: #FFC40C;
$maj-link-target-color: #FFC40C;
$maj-link-valid-color: #FFC40C;
$maj-link-invalid-color: #FFC40C;
$maj-link-required: #FFC40C;