$maj-link-default-color: #1A0DAB;
$maj-link-hover-color: #A5D2EE;
$maj-link-visited-color: #681DA8;
$maj-link-focus-color: #FFC40C;
$maj-link-focus-within-color: #FFC40C;
$maj-link-active-color: #FFC40C;
$maj-link-focus-visible-color: #FFC40C;
$maj-link-target-color: #FFC40C;
$maj-link-valid-color: #FFC40C;
$maj-link-invalid-color: #FFC40C;
$maj-link-required: #FFC40C;

$maj-button-primary-background-color: #FFC40C;
$maj-button-primary-foreground-color: #000000;

$maj-button-secondary-background-color: #fff;
$maj-button-secondary-foreground-color: #000;

$maj-button-warning-background-color: #fff;
$maj-button-warning-foreground-color: #000;

$maj-button-error-background-color: #fff;
$maj-button-error-foreground-color: #000;

$maj-button-success-background-color: #fff;
$maj-button-success-foreground-color: #000;

$maj-button-info-background-color: #fff;
$maj-button-info-foreground-color: #000;

$maj-warning-background-color: #fff;
$maj-warning-foreground-color: #000;

$maj-error-background-color: #fff;
$maj-error-foreground-color: #000;

$maj-success-background-color: #fff;
$maj-success-foreground-color: #000;

$maj-info-background-color: #fff;
$maj-info-foreground-color: #000;